.offerhead{
    height: 814px;
    display: flex;
    flex-direction: column;
}
.offer{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer p{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #009DFF;
}
.offer h1{
    height: 100px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offerimg{
    height: 100px;
    width: 1285px;
    display: flex;
    margin-top: 41px;
    /* flex-direction: column; */
    justify-content: center;
}
.off1{
    height: 100px;
    width: 380px;
    display: flex;
    flex-direction: column;
}
.off1 img{
    height: 335px;
    width: 347px;
    display: flex;
    margin-bottom: 20px;
}
.hed{
    height: 100px;
    width: 345px;
    font-size: 24px;
    display: flex;
    color: #5a4545;
    margin-bottom: 20px;
    text-align: start;
}
.bulletin{
    height: 100px;
    width: 240px;
    display: flex;
    flex-direction: column;
}
/* .bulletin p{
    height: 100px;
    width: 240px;
    font-size: 20px;
    display: flex;
} */
.w3{
    height: 26px;
    width: 500px;
    display: flex;
    gap: 8px;
}
.w4{
    height: 36px;
    width: 16px;
    display: flex;
}
.p1{
    height: 29px;
    width: 230px;
    display: flex;
    color: #5a4545;
    font-size: 17px;
    align-items: center;
}
.butt{
    height: 100px;
    width: 357px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.butt button  {
   
    background-color: #ffffff;
    color: #009DFF;
    /* border-radius: 25px; */
    width: 348px;
    height: 46px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #009DFF ;
    border-color: #009DFF;
    /* line-height: 14px; */
    /* border: none; */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    z-index: 9999;
}
.butt button:hover{
background-color: #009DFF;
  color: #ffffff;
  transition:0.5s all;
}
@media (max-width: 1200px){
    .off1{
        width: 410px;
    }
    .off1 img{
        /* width: 100px; */
        height: 324px;

    }
    .hed{
        font-size: 30px;
    }
    .p1{
        font-size: 19px;
    }
    
}
@media (max-width: 600px){
    .offerimg{
        flex-direction: column;
            height: 428px;
            width: 459px;
            display: flex;
            margin-top: 41px;
            /* flex-direction: column; */
            justify-content: center;
            align-items: center;
    }
    .off1{
        height: 590px;

    }
    .offer{
        position: relative;
        bottom: 800px;
    }
    .offerhead {
        height: 1276px;
        display: flex;
        flex-direction: column;
    }

}